.modal-content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.utility-row {
  display: flex;
  align-items: center;
}

.icon {
  color: white;
  font-size: 7rem;
  margin: 0 2rem;
  cursor: pointer;
}

.icon:hover,
.icon:active,
.modal-close:hover,
.modal-close:active {
  color: rgb(199, 34, 34);
}

.modal-image {
  max-height: 60rem;
  max-width: 60vw;
}

.modal-close {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .modal-close {
    top: 2rem;
    right: 1rem;
  }
}
